.container{
  position: relative;
  z-index: 1;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-color: teal;
  color: tomato;
  border: 1px solid rgba(245, 245, 245, 0.726);
}

.linklar{
  display: flex;
}
p {
  position: relative;
  z-index: 3;
}

.link1::before{
 /*  display: inline-block; */
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  content: "";
}
.container > .link2 {
  position: relative;
  z-index: 2;
}